version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: aspire-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: aspire-backend
    restart: always 
    environment:
      MONGO_CONN_STR: mongodb://mongo:27017/aspiredb
      PORT: 3500
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: aspire-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo-data:
